@model IEnumerable<BookingAppStore.Models.Book>

@{
    ViewBag.Title = "Book Store";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>Book Store</title>
</head>
<body>
    <div>
        <h3>Book Sales</h3>
        <table>
            <tr>
                <td><p>Name</p></td>
                <td><p>Author</p></td>
                <td><p>Price</p></td>
            </tr>
            @foreach (var b in Model)
            {
                <tr>
                    <td><p>@b.Name</p></td>
                    <td><p>@b.Author</p></td>
                    <td><p>@b.Price</p></td>
                    <td><p><a href="/Home/Buy/@b.Id">Buy</a></p></td>
                </tr>                
            }
        </table>
    </div>

    @Html.Action("GetList")
    @*@Html.Partial("GetList", new string[] { "Fantastic", "Camedian", "Drama", "Adventure" })*@
    @*@{ 
        Html.RenderPartial("GetList");
    }*@
    @section Footer{
        <h5>All rights reserved. Syte Corp. 2018.</h5>
    }
</body>
</html>
